{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Heroes</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.min.css">
        <script src="{% static 'scripts/main.js' %}" defer></script>
    </head>
    <h1>This is the Homepage</h1>

 <h1>Heroes</h1>
 <ul id="hero-display"></ul>

    <div class="">
        <p class="has-text-centered has-text-weight-bold">Hero Entry</p>
        <form class="has-text-centered is-hidden" id="hero-form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ hero_form.as_p }}
            <button type="submit" class="button is-small save btn btn-seceondary has-text-centered">Submit</button>
        </form>

    </div>
</html>