{% load static %}
{% load rest_framework %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Heroes</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
        <script src="{% static 'scripts/main.js' %}" defer></script>
    </head>
    <body>
        <h1 class="has-text-centered has-text-weight-bold has-text-black is-underlined">Heroes</h1>
        <ul class="h1 has-text-centered has-text-black" id="hero-display"></ul>
        <div class='container has-text-centered'>
            <div class='columns is-mobile is-centered'>
              <div class='column is-4'>
                <button class="button is-black is-large"
                        id='btn'>Click to add a Hero</button>
                <div class="modal">
                  <div class="modal-background"></div>
                  <div class="modal-content">
          
                    <div class='box'>
                      <h1 class='title' 
                          style='color:rgb(128, 0, 117)'>
                        Hero</h1>
                        <form class="has-text-centered" id="hero-form" method="POST">
                            {% csrf_token %}
                            {% render_form hero_serializer %}
                            <button type="submit" class="button is-light save btn btn-seceondary has-text-centered">Submit</button>
                        </form>
                      </div>
                    </div>
                  </div>
                  <button class="modal-close is-large" 
                          aria-label="close">
                    Model
                  </button>
                </div>
              </div>
            </div>
          </div>
    </body>
</html>